.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background:linear-gradient(to left top, #006633e1, #013f20f6);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 10px #00663334;
  }
  
  .login-btn:hover {
    background:linear-gradient(to left top, #013f20f6, #006633e1);
   
    box-shadow: 0px 6px 15px #013f2079;
    transform: scale(1.08);
  }
  
  .login-btn:active {
    transform: scale(1);
  }
  
  .login-btn:disabled {
    background: #666;
    cursor: not-allowed;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  